*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #18181b;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: none;
}

.app {
  height: 100%;
}
